@import "myNavbar";
@import "my-card";
@import "material-button";
@import "clear-button";
@import "my-modal";

body {
	padding-top: 5rem;
	background-image: linear-gradient(-90deg, #FFB752, #FF6C52);

}

button {
	margin: .2rem;
}

.marg-right{
	margin-right: 1rem ;
}


